body {
    margin-left: 0px;
    margin-top: 0px;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.menu-elts {
    list-style: none;   
}

.menu-elts li {
    display: block;
    float: left;
    margin-left: 13%; 
}

.menu-elts a {
    font-family: Helvetica;
    font-size: 16pt;
    text-decoration: none; 
}

.giant-pic {
    height: auto;
    margin-top: 0px;
}

.giant-pic-container {
    margin-left: 0px;
    width: auto;
    height: auto;
}

.giant-pic-container img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;

}

.sections {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #808080;
}

.sections li {
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.container {
   margin: 0px;
   padding: 0px;
   height: auto;
   width: auto;
}

.name {
    left: 0;
    font-family: Helvetica;
    color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 60pt;
    width: 100%;
}

#cover {
    margin: 0px;
    background-color: red;
}

#about {
    padding: 25%;
    text-align: left;
    background-color: #D3D3D3;
    height: auto;
}

#projects {
    color: white;
    background-color: #CCCCFF;
    height: auto;
}

#experience {
    color: white;
    background-color: purple;
    height: auto;
}