body {
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-bottom: 20px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.menu-elts {
    list-style: none;   
}

.menu-elts li {
    display: block;
    float: left;
    margin-left: 13%; 
}

.menu-elts a {
    font-family: Helvetica;
    font-size: 16pt;
    text-decoration: none; 
}

.giant-pic {
    height: auto;
    margin-top: 0px;
}

.giant-pic-container {
    margin-left: 0px;
    width: auto;
    height: auto;
}

.giant-pic-container img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 0px;

}

.sections {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.sections li {
    color: #808080;
}

.container {
   margin: 0px;
   padding: 0px;
   height: auto;
   width: 100%;
}

.name {
    left: 0;
    font-family: Helvetica;
    color: white;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 60pt;
    width: 100%;
}

#cover {
    margin: 0px;
    background-color: red;
}

#about {
    padding: 25%;
    text-align: left;
    background-color: #D3D3D3;
    height: auto;
}

#projects {
    color: white;
    background-color: #CCCCFF;
    margin-top: -22px;
    padding: 40px;
}

#experience {
    color: white;
    background-color: purple;
    margin-top: -22px;
    padding: 40px;
}

#contact {
    color: white;
    background-color: #D3D3D3;
    padding: 40px;
}

#contact-links-wrapper div {
    width: auto;
    vertical-align: top;
    display: inline-block;
    padding: 0px 20px;
}
#contact-links-wrapper div a {
    text-decoration: none;

}

#contact-links-wrapper {
    height: auto;
    text-align: justify;
}

#projects-wrapper {
    text-align: justify;
    }
#projects-wrapper > div {
    width: 21%; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

#projects-wrapper div a {
    text-decoration: none;
    text-align: center;
    font-size: 28px;
}

#projects-wrapper div img {
    width: 100%;
    height: auto;
}

#projects-wrapper:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.stretcher {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

li h1 {
    text-align: center;
}